<table id="example2" class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < categories.length; i++) { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= categories[i].name %></td>
        <td>
          <form action="/category/delete/<%= categories[i]._id %>?_method=DELETE" method="POST">
            <a href="/category/edit/<%= categories[i]._id %>" class="btn btn-warning btn-sm rounded-pill">
              <i class="fas fa-pencil-alt"></i>
              &nbsp;
              Edit
            </a>
            <button class="btn btn-danger btn-sm rounded-pill">
              <i class="fas fa-trash"></i>
              &nbsp;
              Delete
            </button>
          </form>
        </td>
      </tr>
    <% } %>
  </tbody>
  <tfoot>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </tfoot>
</table>